@model IEnumerable<NET_student_project.ViewModels.CategoryViewModel>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section skrypty{
<h2>Categories</h2>
<ul class="nav">

    @{foreach (var item in Model)
        {
            <li><a href="#"> @Html.DisplayFor(modelItem => item.Name)</a></li>
        } }
</ul>}
