@model NET_student_project.ViewModels.MemesViewModel
@{
    ViewBag.Title = "Fresh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2>Fresh</h2>
    @Html.Partial("MemeDisplay", Model.Memes)

</div>