@model NET_student_project.ViewModels.MemesViewModel

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
   
    @Html.Partial("MemeDisplay", Model.Memes)


</div>