@model NET_student_project.ViewModels.ShortMemesListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    @{
        foreach (var meme in Model.Memes)
        {
             Html.RenderAction("_ShortMeme", "Meme", new { id = meme.MemeId }); 
        }

    }


</div>
