@model NET_student_project.ViewModels.MemesViewModel

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    @Html.Partial("MemeDisplay", Model.Memes)


</div>
