
@model  NET_student_project.ViewModels.MemeViewModel



        
            <h3><b>@Model.Title</b></h3>
            <img class="img-responsive" width="600" src=@Model.ImagePath />
        
        <footer>@Model.Points points @Model.Comments.Count comments</footer>
        
        <hr />
    
