@model NET_student_project.ViewModels.MemesViewModel
@{
    ViewBag.Title = "Trending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h2>Trending</h2>
    @Html.Partial("MemeDisplay", Model.Memes)

</div>