
@model IEnumerable<NET_student_project.ViewModels.CommentViewModel>
@{foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm-1">
                <div class="thumbnail">
                    <img class="img-responsive user-photo" src="@Url.Content(item.User.ImagePath)">
                </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>@item.User.Name</strong> <!--<span class="text-muted">commented 5 days ago</span>-->
                    </div>
                    <div class="panel-body">
                        @item.Text
                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->
        </div><!-- /row -->
    }}