@model IEnumerable<NET_student_project.ViewModels.MemeViewModel>

@{foreach (var item in Model)
    {



        <h3>  @Html.ActionLink(item.Title, "MemeDetail","Meme", new { id = item.MemeId },null)</h3>
        <img class="img-responsive" width="600" src=@item.ImagePath />

        <footer>@item.Points points  comments</footer>
        <p>
            @Html.ActionLink(" ", "AddPoint", "Meme", new { id = item.MemeId }, new { @class = "glyphicon glyphicon-plus" })
              @Html.ActionLink(" ", "DecPoint", "Meme", new { id = item.MemeId }, new { @class = "glyphicon glyphicon-minus" })
        </p>
        
       
        <hr />
    }
}