@model IEnumerable<NET_student_project.ViewModels.MemeViewModel>

@{foreach (var item in Model)
    {

      
    
            <h3>  <li>@Html.ActionLink(item.Title, "MemeDetail", new { id = item.MemeId })</li></h3>
            <img class="img-responsive" width="600" src=@item.ImagePath />
     
        <footer>@item.Points points @item.Comments.Count comments</footer>
        <hr />
    }
}