@model NET_student_project.ViewModels.ShortMemeViewModel

<div id="@string.Format("{0}_{1}","PointBlock", Model.MemeId)">

    <footer>
        <p>
            @using (Ajax.BeginForm("_AddPoint", "Meme", new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = string.Format("{0}_{1}", "PointBlock", Model.MemeId) }))
            {
                <button type="submit" class="btn btn-info" value=@Model.MemeId name="id"> <span class="glyphicon glyphicon-arrow-up"></span></button>
            }
            @using (Ajax.BeginForm("_DecPoint", "Meme", new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = string.Format("{0}_{1}", "PointBlock", Model.MemeId) }))
            {
                <button type="submit" class="btn btn-default" value=@Model.MemeId name="id"> <span class="glyphicon glyphicon-arrow-down"></span></button>
            }
        </p>
        @Model.Points points @Model.SComments comments
    </footer>
</div>
