
@model  NET_student_project.ViewModels.DetailedMemeViewModel
@using System.Security.Claims
@using Microsoft.AspNet.Identity


<h3><b>@Model.Title</b></h3>

<img class="img-responsive" width="600" src=@Model.ImagePath />
<h4>@Model.Points</h4>



@Html.Partial("CommentDisplay", Model.Comments)
    }
<hr />
\